
.a0 { width: 2121pt; height: 2999pt; }
.a0.landscape { width: 2999pt; height: 2121pt; }

.a1 { width: 1498pt; height: 2121pt; }
.a1.landscape { width: 2121pt; height: 1498pt; }

.a2 { width: 1059pt; height: 1498pt; }
.a2.landscape { width: 1498pt; height: 1059pt; }

.a3 { width: 749pt; height: 1059pt; }
.a3.landscape { width: 1059pt; height: 749pt; }

.a4 { width: 529pt; height: 749pt; }
.a4.landscape { width: 749pt; height: 529pt; }

.a5 { width: 373pt; height: 529pt; }
.a5.landscape { width: 529pt; height: 373pt; }

.a6 { width: 264pt; height: 373pt; }
.a6.landscape { width: 373pt; height: 264pt; }

.a7 { width: 186pt; height: 264pt; }
.a7.landscape { width: 264pt; height: 186pt; }

.a8 { width: 131pt; height: 186pt; }
.a8.landscape { width: 186pt; height: 131pt; }

.a9 { width: 93pt; height: 131pt; }
.a9.landscape { width: 131pt; height: 93pt; }

.a10 { width: 65pt; height: 93pt; }
.a10.landscape { width: 93pt; height: 65pt; }

.b0 { width: 2522pt; height: 3567pt; }
.b0.landscape { width: 3567pt; height: 2522pt; }

.b1 { width: 1783pt; height: 2522pt; }
.b1.landscape { width: 2522pt; height: 1783pt; }

.b2 { width: 1261pt; height: 1783pt; }
.b2.landscape { width: 1783pt; height: 1261pt; }

.b3 { width: 890pt; height: 1261pt; }
.b3.landscape { width: 1261pt; height: 890pt; }

.b4 { width: 630pt; height: 890pt; }
.b4.landscape { width: 890pt; height: 630pt; }

.b5 { width: 444pt; height: 630pt; }
.b5.landscape { width: 630pt; height: 444pt; }

.b6 { width: 315pt; height: 444pt; }
.b6.landscape { width: 444pt; height: 315pt; }

.b7 { width: 222pt; height: 315pt; }
.b7.landscape { width: 315pt; height: 222pt; }

.b8 { width: 156pt; height: 222pt; }
.b8.landscape { width: 222pt; height: 156pt; }

.b9 { width: 111pt; height: 156pt; }
.b9.landscape { width: 156pt; height: 111pt; }

.b10 { width: 78pt; height: 111pt; }
.b10.landscape { width: 111pt; height: 78pt; }

.c0 { width: 2313pt; height: 3272pt; }
.c0.landscape { width: 3272pt; height: 2313pt; }

.c1 { width: 1634pt; height: 2313pt; }
.c1.landscape { width: 2313pt; height: 1634pt; }

.c2 { width: 1155pt; height: 1634pt; }
.c2.landscape { width: 1634pt; height: 1155pt; }

.c3 { width: 817pt; height: 1155pt; }
.c3.landscape { width: 1155pt; height: 817pt; }

.c4 { width: 577pt; height: 817pt; }
.c4.landscape { width: 817pt; height: 577pt; }

.c5 { width: 408pt; height: 577pt; }
.c5.landscape { width: 577pt; height: 408pt; }

.c6 { width: 287pt; height: 408pt; }
.c6.landscape { width: 408pt; height: 287pt; }

.c7 { width: 204pt; height: 287pt; }
.c7.landscape { width: 287pt; height: 204pt; }

.c8 { width: 143pt; height: 204pt; }
.c8.landscape { width: 204pt; height: 143pt; }

.c9 { width: 100pt; height: 143pt; }
.c9.landscape { width: 143pt; height: 100pt; }

.c10 { width: 70pt; height: 100pt; }
.c10.landscape { width: 100pt; height: 70pt; }

.dl { width: 277pt; height: 555pt; }
.dl.landscape { width: 555pt; height: 277pt; }

.letter { width: 544pt; height: 704pt; }
.letter.landscape { width: 704pt; height: 544pt; }

.government-letter { width: 512pt; height: 672pt; }
.government-letter.landscape { width: 672pt; height: 512pt; }

.legal { width: 544pt; height: 897pt; }
.legal.landscape { width: 897pt; height: 544pt; }

.junior-legal { width: 512pt; height: 320pt; }
.junior-legal.landscape { width: 320pt; height: 512pt; }

.ledger { width: 1089pt; height: 704pt; }
.ledger.landscape { width: 704pt; height: 1089pt; }

.tabloid { width: 704pt; height: 1089pt; }
.tabloid.landscape { width: 1089pt; height: 704pt; }

.credit-card { width: 136pt; height: 216pt; }
.credit-card.landscape { width: 216pt; height: 136pt; }
