body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Monospace;
  background-image: url(/images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(2, 19, 30);
}

a {
  text-decoration: none;
  color: red;
}

.center { text-align: center }
.right { text-align: right }

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row.space {
  justify-content: space-between;
}

table td {
  padding: 5px 10px;
  border-collapse: collapse;
  border: 1px solid gray;
}

.mr10 { margin-right: 10px}
.mr20 { margin-right: 20px}
.pr10 { padding-right: 10px}
.pr20 { padding-right: 20px}
.pr30 { padding-right: 30px}
.pr50 { padding-right: 50px}

.indent {
  text-indent: 30px;
}

.clickable { cursor: pointer; }
.clickable:hover {
  color: orange;
}
.clickable:active {
  filter: blur(1px);
}

ul.inline {
  margin: 0;
  padding: 0;
}
ul.inline li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

/**********************************/
.select-books ul {
  margin: 1px;
  padding: 1px;
}
.select-books li {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  margin-left: 10px;
}
.select-books li a {
  text-decoration: none;
}
.select-books li a:hover {
  background-color: rgba(30, 10, 10, 0.5);
}

.card-catalog {
  border: 1px solid black;
  width: 5in;
  height: 3in;
}
.card-catalog > div{
  padding: 10px;
}

.card-grid {
  display: grid;
  grid-template-rows: repeat(100, 3in);
  grid-template-columns: 5in;

  box-shadow: 0 0 1.5cm rgba(0,0,0,0.5);
  border-right: 1.5px solid rgba(20, 20, 20, 0.2);
  background-color: white !important;
  color: black;
  overflow: hidden;
}

.card-grid.print {
  font-weight: lighter;
  background-color: white !important;
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
  border: 0 !important;
}

.card-grid.col2 { grid-template-columns: repeat(2, 5in); }
.card-grid.col3 { grid-template-columns: repeat(3, 5in); }
.card-grid.col4 { grid-template-columns: repeat(4, 5in); }
.card-grid.col5 { grid-template-columns: repeat(5, 5in); }
.card-grid.col6 { grid-template-columns: repeat(6, 5in); }

.card-grid.row2 { grid-template-rows: repeat(2, 3in); }
.card-grid.row3 { grid-template-rows: repeat(3, 3in); }
.card-grid.row4 { grid-template-rows: repeat(4, 3in); }
.card-grid.row6 { grid-template-rows: repeat(6, 3in); }

@media print {
  .no-print {
    display: none !important;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .card-grid {
    box-shadow: 0;
    border-right: 0;
  }

}

.app-header {
  margin: 0;
  padding: 10px;
  color: white;
  background-color: rgba(30, 30, 30, 0.6);
}
.app-header .sitename {
  padding: 0;
  margin: 0;
  font-size: 35px;
}
.app-header .sitedesc {
  padding: 0;
  margin: 0;
}

.panel {
  color: white;
  background-color: rgba(30, 35, 30, 0.8);
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 9px;
  margin: 10px;
}
.panel.main {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}

.config-card > *{
  margin: 10px;
}

.print-buttons > *{
  margin: 5px;
  padding: 5px;
}

.browse-books--search {
  margin: 10px;
  text-align: center;
}
.browse-books--results {
  width: 100%;
}

.sitenav {
  margin-left: 50px;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

.unindent {
  text-indent: -25px;
}