
.a0 { width: 2379pt; height: 3363pt; }
.a0.landscape { width: 3363pt; height: 2379pt; }

.a1 { width: 1680pt; height: 2379pt; }
.a1.landscape { width: 2379pt; height: 1680pt; }

.a2 { width: 1188pt; height: 1680pt; }
.a2.landscape { width: 1680pt; height: 1188pt; }

.a3 { width: 840pt; height: 1188pt; }
.a3.landscape { width: 1188pt; height: 840pt; }

.a4 { width: 594pt; height: 840pt; }
.a4.landscape { width: 840pt; height: 594pt; }

.a5 { width: 418pt; height: 594pt; }
.a5.landscape { width: 594pt; height: 418pt; }

.a6 { width: 297pt; height: 418pt; }
.a6.landscape { width: 418pt; height: 297pt; }

.a7 { width: 209pt; height: 297pt; }
.a7.landscape { width: 297pt; height: 209pt; }

.a8 { width: 147pt; height: 209pt; }
.a8.landscape { width: 209pt; height: 147pt; }

.a9 { width: 104pt; height: 147pt; }
.a9.landscape { width: 147pt; height: 104pt; }

.a10 { width: 73pt; height: 104pt; }
.a10.landscape { width: 104pt; height: 73pt; }

.b0 { width: 2828pt; height: 4000pt; }
.b0.landscape { width: 4000pt; height: 2828pt; }

.b1 { width: 2000pt; height: 2828pt; }
.b1.landscape { width: 2828pt; height: 2000pt; }

.b2 { width: 1414pt; height: 2000pt; }
.b2.landscape { width: 2000pt; height: 1414pt; }

.b3 { width: 998pt; height: 1414pt; }
.b3.landscape { width: 1414pt; height: 998pt; }

.b4 { width: 707pt; height: 998pt; }
.b4.landscape { width: 998pt; height: 707pt; }

.b5 { width: 497pt; height: 707pt; }
.b5.landscape { width: 707pt; height: 497pt; }

.b6 { width: 353pt; height: 497pt; }
.b6.landscape { width: 497pt; height: 353pt; }

.b7 { width: 248pt; height: 353pt; }
.b7.landscape { width: 353pt; height: 248pt; }

.b8 { width: 175pt; height: 248pt; }
.b8.landscape { width: 248pt; height: 175pt; }

.b9 { width: 124pt; height: 175pt; }
.b9.landscape { width: 175pt; height: 124pt; }

.b10 { width: 87pt; height: 124pt; }
.b10.landscape { width: 124pt; height: 87pt; }

.c0 { width: 2594pt; height: 3669pt; }
.c0.landscape { width: 3669pt; height: 2594pt; }

.c1 { width: 1833pt; height: 2594pt; }
.c1.landscape { width: 2594pt; height: 1833pt; }

.c2 { width: 1295pt; height: 1833pt; }
.c2.landscape { width: 1833pt; height: 1295pt; }

.c3 { width: 916pt; height: 1295pt; }
.c3.landscape { width: 1295pt; height: 916pt; }

.c4 { width: 647pt; height: 916pt; }
.c4.landscape { width: 916pt; height: 647pt; }

.c5 { width: 458pt; height: 647pt; }
.c5.landscape { width: 647pt; height: 458pt; }

.c6 { width: 322pt; height: 458pt; }
.c6.landscape { width: 458pt; height: 322pt; }

.c7 { width: 229pt; height: 322pt; }
.c7.landscape { width: 322pt; height: 229pt; }

.c8 { width: 161pt; height: 229pt; }
.c8.landscape { width: 229pt; height: 161pt; }

.c9 { width: 113pt; height: 161pt; }
.c9.landscape { width: 161pt; height: 113pt; }

.c10 { width: 79pt; height: 113pt; }
.c10.landscape { width: 113pt; height: 79pt; }

.dl { width: 311pt; height: 622pt; }
.dl.landscape { width: 622pt; height: 311pt; }

.letter { width: 610pt; height: 790pt; }
.letter.landscape { width: 790pt; height: 610pt; }

.government-letter { width: 574pt; height: 754pt; }
.government-letter.landscape { width: 754pt; height: 574pt; }

.legal { width: 610pt; height: 1005pt; }
.legal.landscape { width: 1005pt; height: 610pt; }

.junior-legal { width: 574pt; height: 359pt; }
.junior-legal.landscape { width: 359pt; height: 574pt; }

.ledger { width: 1221pt; height: 790pt; }
.ledger.landscape { width: 790pt; height: 1221pt; }

.tabloid { width: 790pt; height: 1221pt; }
.tabloid.landscape { width: 1221pt; height: 790pt; }

.credit-card { width: 152pt; height: 242pt; }
.credit-card.landscape { width: 242pt; height: 152pt; }
