

#loading {
    text-align: center;
}

#loading .caption {
    padding: 0px;
    margin: 0px;
}
#loading .img {
    filter: sepia(50%) invert(80%);
    border: 1px solid #eee;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    background-image: url(../images/loading.gif);
    background-position: center;
    background-size: 200px;
}
